@charset "UTF-8";
/* Tipografias
font-family: 'Nunito', sans-serif;

font-family: "Bebas";

font-family: 'EB Garamond', serif;
*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@font-face {
  font-family: "Bebas";
  src: url(../asses/BebasNeue-Regular.ttf);
}
.seccion-promociones {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 100px;
  grid-column-gap: 26px;
  grid-template-areas: "dosuno cincuenta" "txdos-uno tx-cincuenta";
}

body {
  background-color: #f3f4f0;
}

.container-contacto {
  width: 100%;
  max-width: none;
  --bs-gutter-x: 0;
}

.menu {
  background: linear-gradient(to top, #fafafa, #ffade9);
  width: 100%;
  border-bottom: 2px solid #FDCEDF;
}
.menu__div {
  display: flex;
  justify-content: center;
}
.menu__div div ul li:hover {
  border: 2px solid rgba(239, 100, 174, 0.3411764706);
  border-radius: 10px;
  background-color: rgba(253, 206, 223, 0.3215686275);
}
.menu__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #99479f;
  margin: 0px 86px 0px 40px;
}
.menu__a {
  font-size: 1.2em;
}
.menu__a--grande {
  font-size: 1.9em;
  padding-left: 4px;
}

/*Encabezado*/
.encabezado {
  background-image: url(../asses/index-foto.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.encabezado__h1 {
  font-family: "Bebas";
  font-size: 142px;
  margin-bottom: 0;
}
.encabezado__h2 {
  font-family: "Bebas";
  font-size: 26px;
}

.encabezado-pags {
  background-image: url(../asses/index-foto.webp);
  background-size: 100%;
  height: 359px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.encabezado-pags__h1 {
  font-family: "Bebas";
  font-size: 5rem;
}

/*Lista/Fotos de servicios en inicio*/
.servicios-inicio {
  margin-top: 6vh;
  margin-bottom: 6vh;
}
.servicios-inicio__div {
  display: flex;
  justify-content: space-around;
}

.servicios-div {
  display: flex;
  flex-direction: column;
}
.servicios-div__a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.servicios-div__img {
  width: 196px;
  height: 196px;
  border-radius: 100px;
  border: 4px solid rgba(0, 0, 0, 0.468);
}
.servicios-div__img--distinta {
  width: 196px;
  height: 196px;
  border-radius: 100px;
}

/* Contenido de inicio */
.cont-inicio {
  display: flex;
  width: 97vw;
  flex-direction: column;
}
.cont-inicio__h2 {
  font-family: "Nunito", sans-serif;
  font-size: 49px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.cont-inicio__p {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 21px;
  width: 67vw;
  margin-left: 15vw;
  margin-bottom: 6vw;
}

/*ubicación*/
.contenido-ubicacion {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-around;
}
.contenido-ubicacion__p {
  width: 534px;
  font-size: 1.5rem;
}
.contenido-ubicacion__section {
  border: 5px outset #FDCEDF;
  width: 370px;
  height: 370px;
}
.contenido-ubicacion__iframe {
  width: 100%;
  height: 100%;
}

/*servicios*/
.servicios {
  margin: 70px;
}
.servicios__contenedor {
  display: flex;
  justify-content: center;
}
.servicios__div {
  width: 310px;
  align-items: center;
  border: solid 3.5px #FDCEDF;
  border-radius: 27px;
  margin: 10px;
  background: rgba(253, 206, 223, 0.5215686275);
  padding-top: 7px;
}
.servicios__img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: solid 5px #FDCEDF;
}
.servicios__h2 {
  font-family: "Bebas";
  font-size: 35px;
}

/*contacto*/
.contenido-contacto {
  margin: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenido-contacto__section {
  width: 49vw;
  margin: 30px;
}
.contenido-contacto__div {
  display: flex;
  align-items: center;
  padding-left: 10vw;
}
.contenido-contacto__img {
  margin: 30px;
  width: 100px;
  height: 100px;
  border-radius: 35px;
}
.contenido-contacto__p {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 21px;
}

.seccion-formulario {
  display: flex;
  flex-direction: column;
  width: 49vw;
  margin: 30px;
}
.seccion-formulario__button {
  color: #d4089e;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  height: 30px;
  width: 15vw;
  margin: 20px 0 0 150px;
  background-color: #FDCEDF;
  border: #99479f solid 2px;
  border-radius: 10px;
}
.seccion-formulario__button:active {
  background-color: #ff91ba;
  color: #ba058a;
}
.seccion-formulario__h2 {
  font-family: "Nunito", sans-serif;
  font-size: 29px;
}
.seccion-formulario__form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: center;
}
.seccion-formulario__input {
  border: #d4089e solid 1.3px;
  border-radius: 7px;
  margin: 3px;
  width: 154%;
  font-family: "Nunito";
}
.seccion-formulario__input--distinta {
  border: #d4089e solid 1.3px;
  border-radius: 7px;
  height: 6rem;
  margin: 3px;
  width: 154%;
  font-family: "Nunito";
}

/*promociones*/
.seccion-promociones__dosuno {
  grid-area: dosuno;
}
.seccion-promociones__tx-dosuno {
  grid-area: txdos-uno;
}
.seccion-promociones__tx-cincuenta {
  grid-area: tx-cincuenta;
}
.seccion-promociones__cincuenta {
  grid-area: cincuenta;
}
.seccion-promociones__img {
  width: 400px;
  height: 400px;
}
.seccion-promociones__h6 {
  font-family: "Nunito";
  font-size: 25px;
  margin-top: 6px;
  margin-bottom: 0;
}

.center {
  display: grid;
  justify-content: center;
}

/*f o o t e r */
footer {
  background: radial-gradient(ellipse, #ffade9 0%, #fafafa);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #FDCEDF;
}

.lista-redes__li {
  list-style: none;
  font-family: "Nunito", sans-serif;
}
.lista-redes__a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.logo-abajo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #99479f;
}

.copy {
  display: flex;
  font-family: "Nunito", sans-serif;
}

@media (max-width: 1050px) {
  .contenido-ubicacion {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }
  .seccion-promociones {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 100px 300px 100px;
    grid-template-areas: "dosuno " "txdos-uno" "cincuenta" "tx-cincuenta";
    margin-left: 30px;
    margin-right: 30px;
  }
  .seccion-promociones__img {
    width: 300px;
    height: 300px;
  }
  .contenido-contacto {
    flex-direction: column;
  }
  .contenido-contacto__div {
    padding-left: 0;
  }
  .seccion-formulario__button {
    margin: 20px 0 0 90px;
  }
}
@media (max-width: 680px) {
  .titulo-pags {
    font-size: 70px;
  }
  .servicios {
    margin: 30px;
  }
}
@media (max-width: 596px) {
  .subtitulo {
    display: inline-block;
    background-color: #fff0fb;
    border: 2px solid #FDCEDF;
    border-radius: 10px;
  }
  .contenido-contacto__div {
    flex-direction: column;
  }
}
@media (max-width: 459px) {
  .encabezado-pags width__h1 {
    font-size: 95px;
  }
  .seccion-formulario__button {
    font-size: 16px;
  }
  .contenido-ubicacion__p {
    width: 100%;
  }
  .contenido-ubicacion__section {
    width: 100%;
  }
  .servicios__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios__img {
    width: 100%;
    height: 100%;
  }
  .servicios__h2 {
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 265px;
  }
  .seccion-formulario__button {
    font-size: 11px;
  }
}

/*# sourceMappingURL=styles.css.map */
