/* Tipografias
font-family: 'Nunito', sans-serif;

font-family: "Bebas";

font-family: 'EB Garamond', serif;
*/
/*h e a d e r*/
@font-face {
    font-family: "Bebas";
    src: url(./asses/BebasNeue-Regular.ttf);
}
body{
    background-color: #f3f4f0;
}
.menu{
    background-color: #fff0fb;
    width: 100%;
    border-bottom: 2px solid #FDCEDF;
}
.menu-letras{
    display: flex;
    justify-content: center;
}
.palabra-lista{
    font-size: 1.2em;
}
.palabra-lista-grande{
    font-size: 1.9em;
    padding-left: 4px;
}
.logo-arriba{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #99479f;
    margin: 0px 40px 0px 20px;
}
.menu-letras div ul li:hover{
    border: 2px solid #ef64ae57;
    border-radius: 10px;
    background-color: #fdcedf52;
}
/* Estilos del NavBar S I N bootstrap*/

/* .ul-menu{ 
    display: flex;
    justify-content: space-around;
    width: 70vw;
}
.ul-menu li{
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif;
    padding: 3px;
}
.ul-menu li:hover{
    border: 2px solid #ffb6eb;
    border-radius: 10px;
    background-color: #ffdef6bd;
}
.navegacion{
    text-decoration: none;
    color: black;
    font-size: 29px;
 } */

/*m a i n*/
.encabezado{
    background-image: url(./asses/index-foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 359px;
}
.titulo{
    font-family: "Bebas";
    font-size: 150px;
    margin-bottom: 0;
}
.titulo-pags{
    font-family: "Bebas";
    font-size: 150px;
}
.subtitulo{
    font-family: "Bebas";
    font-size: 26px;   
}
.encabezado-pags{
    background-image: url(./asses/index-foto.jpg);
    background-size: 100%;
    height: 359px;
    display: flex;
    align-items: center
}
@media (max-width:596px){
    .subtitulo{
        display:inline-block;
        background-color: #fff0fb;
        border: 2px solid #FDCEDF;
        border-radius: 10px;
    }
  }
/*Lista/Fotos de servicios en inicio*/
.centrar div{
    display: flex;
    justify-content: space-around;
}
.ul-fotos-inicio {
display: flex;
justify-content: space-evenly;
margin: 40px;
}
.ul-fotos-inicio li{
    list-style: none;
}
.foto-distinta{
    width: 196px;
    height: 196px;
    border-radius: 100px;
}
.foto-redonda{
    width: 196px;
    height: 196px;
    border-radius: 100px;
    border: 4px solid rgba(0, 0, 0, 0.468);
    
}
.col {
    display: flex;
    flex-direction: column;
}
.ul-servicios-inicio div{
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    margin-left: 50px;
   margin-right: 50px;
} 
@media (max-width:596px){
    .servicios-inicio{
        margin-top: 68px;
    }
  }
  @media (min-width:596px){
    .servicios-inicio{
        margin-top: 40px;
        margin-bottom: 100px;
    }
  }
/* Contenido de inicio */
.cont-inicio{
    display: flex;
    width: 97vw;
    flex-direction: column;
}
.cont-inicio h4{
    font-family: 'Nunito', sans-serif; 
    font-size: 49px;
    text-align: center; 
}
.cont-inicio p{
    font-family: 'Nunito', sans-serif;
    text-align: center; 
    font-size: 21px;
    width: 67vw;
    margin-left: 15vw;
}

/*ubicación*/
.contenido-ubicacion{
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: space-around;
}
.parrafo-ubicacion{
    width: 300px;
}
.mapita{
    border: 5px outset #FDCEDF;
}
/*servicios*/
.foto-servicios{
    width: 325px;
    height: 325px;
    border-radius: 50%;
    border: solid 5px #FDCEDF
}
.servicios{
    width: 310px;
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-servicios{
    display: flex;
    margin: 40px;
    flex-wrap: wrap;
}
h6{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}
/*contacto*/
.container-contacto{
    margin: 0;
    padding: 0;
}
.contenedor-redes-nombres{
    width: 49vw;
    margin: 30px;
}
.redes-nombres{
    display: flex;
    align-items: center;
    padding-left: 10vw;
}
.foto-redes{
    margin: 30px;
    width: 100px;
    height: 100px;
    border-radius: 35px;
}
h4{
    font-family: 'Nunito', sans-serif; 
    font-size: 49px;
    text-align: center;
}
p{
    font-family: 'Nunito', sans-serif;
    text-align: center; 
    font-size: 21px;
}
.contenido-contacto{
    display: flex;
}
.seccion-formulario{
    display: flex;
    width: 49vw;
    margin: 30px;
    flex-direction: column;
}
.seccion-formulario button{
    color: #d4089e;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    height: 30px;
    width: 15vw;
    margin: 20px 0 0 180px;
    background-color: #FDCEDF;
    border: #99479f solid 2px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-left: 100px;
    justify-content: center;
}

/*promocines*/
.seccion-promociones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 100px;
    margin: 150px;
    grid-template-areas:
    'dosuno cincuenta'
    'txdos-uno tx-cincuenta';
    
}
.foto-promociones{
    width: 400px;
    height: 400px;
}

.dosuno{
    grid-area: dosuno;
}
.tx-dosuno{
    grid-area: txdos-uno;
}
.cincuenta{
    grid-area: cincuenta;
}
.tx-cincuenta{
    grid-area: tx-cincuenta;
}
.center{
    display: grid;
    justify-content: center;
}
/*.seccion-promociones{
display: flex;
margin: 100px;
justify-content: space-around;
}
.div-promociones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto-promociones{
    width: 320px;
    height: 320px;
}
*/
.nombre-redes{
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    text-align: justify;
} 
/*f o o t e r*/
footer{
    background-color: #fff0fb;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #FDCEDF;
}

.lista-redes ul li{
list-style: none;
font-family: 'Nunito', sans-serif;

}
.logo-abajo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #99479f;
}
.copy{
    display: flex;
    font-family: 'EB Garamond', serif;
}
.redes{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
 @media (max-width:350px){
    footer{
        display: flex;
        flex-direction: column;
    }
  } 