/*ubicación*/
.contenido-ubicacion{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-around;
    &__p{
        width: 300px;
    }
    &__section{
        border: 5px outset #FDCEDF;
        width: 370px;
        height: 370px;
        &__iframe{
            width: 100%;
            height: 100%;
        }
    }
}
