
/*Lista/Fotos de servicios en inicio*/
.servicios-inicio__div__div{
    display: flex;
    justify-content: space-around;
    &__div {
        @include d-f-c;
        &__img{
            width: 196px;
            height: 196px;
            border-radius: 100px;
            border: 4px solid rgba(0, 0, 0, 0.468);

            &--distinta{
                width: 196px;
                height: 196px;
                border-radius: 100px;
            }
        }
    }
}
/* Contenido de inicio */
.cont-inicio{
    display: flex;
    width: 97vw;
    flex-direction: column;
    &__h4{
        font-family: 'Nunito', sans-serif; 
        font-size: 49px;
        text-align: center; 
    }
    &__p{
        font-family: 'Nunito', sans-serif;
        text-align: center; 
        font-size: 21px;
        width: 67vw;
        margin-left: 15vw;
    }
}