/*promociones*/
.seccion-promociones{
    &__dosuno{
        grid-area: dosuno;
    }
    &__tx-dosuno{
        grid-area: txdos-uno;
    }
    &__tx-cincuenta{
        grid-area: tx-cincuenta;
    }
    &__cincuenta{
        grid-area: cincuenta;
    }
    &__img{
        @include w-h-400;
    }
    &__h6{
        @include h6;
    }
}

.center{
    display: grid;
    justify-content: center;
}
